@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.stage-3d {
  perspective: 400px;
  perspective-origin: 500px 80%;
  height: 700px;
  width: 1000px;
  display: flex;
  /* justify-content: space-between; */
  align-items: end;
  position: relative;
  }

.left-wall-front {
  position: absolute;
  width: 150px;
  height: 700px;
  background-color: gray;
  transform: 
  rotateY(90deg);
  z-index: -1;
}

.left-wall-middle {
  position: absolute;
  width: 150px;
  height: 600px;
  background-color: rgb(68, 67, 67);
  transform: 
  translate3d(0, 0, -150px)
  rotateY(90deg);
  z-index: -1;
}

.left-wall-back {
  position: absolute;
  width: 150px;
  height: 900px;
  background-color: rgb(208, 206, 206);
  transform: 
  translate3d(0, 0, -300px)
  rotateY(90deg);
  z-index: -2;
}

.left-wall-back-2 {
  position: absolute;
  width: 150px;
  height: 1500px;
  background-color: rgb(208, 206, 206);
  transform: 
  translate3d(0, 0, -450px)
  rotateY(90deg);
  z-index: -2;
}

.right-wall-middle {
  position: absolute;
  width: 150px;
  height: 650px;
  background-color: rgb(68, 67, 67);
  transform: 
  translate3d(850px, 0, -150px)
  rotateY(-90deg);
  z-index: -1;
}

.right-wall-front {
  position: absolute;
  width: 150px;
  height: 750px;
  background-color: gray;
  transform: 
  translate3d(850px, 0, 0)
  rotateY(-90deg);
  z-index: -1;
}


.panel {
  position: absolute;
  border: solid 1px black;
  width: 150px;
  background-color: white;
}

.front-left-panel {
  margin-bottom: 450px;
  height: 200px;
  transform: translate3d(0, 0, -50px);
}

.middle-left-panel {
  height: 250px;
  margin-bottom: 50px;
  transform: translate3d(0, 0, -200px);
}

.rear-left-panel {
  transform: translate3d(0, 0, -400px);
  margin-bottom: 250px;
  height: 750px;
  z-index: -1;
}

.front-right-panel {
  margin-bottom: 250px;
  height: 400px;
  transform: translate3d(850px, 0, -200px);
}

.center-building {
  z-index: -1;
  position: absolute;
  width: 200px;
  height: 800px;
  background-color: rgb(68, 67, 67);
  transform: 
  translate3d(400px, 0, -150px)
  rotateY(0deg);
}
